<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>调查问卷主页</title>
    <script src="../../jquery-3.2.1.js" type="text/javascript"></script>
    <script src="../../vue.js" type="text/javascript"></script>
    <script src="../../echarts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div id="container">
    <header id="header">
        <span id="circle">？</span>
        <span id="title">问卷管理</span>
        <span id="myWen" :class="['tag',{'checked':othersHide.main}]" onclick="titleClick()">我的问卷</span>
        <span id="newWenTag" :class="['tag',{'checked':othersHide.new}]">新建问卷</span>
        <span id="editWenTag" :class="['tag',{'checked':othersHide.edit}]">编辑问卷</span>
        <span id="showWenTag" :class="['tag',{'checked':othersHide.show}]">查看数据</span>
    </header>
    <div id="content">
        <div id="blank"></div>
        <table cellspacing="0" id="mainTable" v-show="othersHide.main">
            <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>截止时间</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in wenjuan">
                    <td class="col1"><input type="radio" name="select"></td>
                    <td class="col2">{{item.name}}</td>
                    <td class="col3">{{timeAndState.wenjuan[index].deadlineNoT}}</td>
                    <td :class="['col4',{'ing':timeAndState.wenjuan[index].state[1]}]">{{timeAndState.wenjuan[index].state[0]}}</td>
                </tr>
                <tr id="last">
                    <td colspan="2">
                        <input type="button" id="newWen" @click="newWen()" value="＋ 新建问卷">
                    </td>
                    <td class="col5">
                        <input type="button" value="编辑" @click="editWen">
                        <input type="button" value="删除" onclick="doDel('this')">
                        <input type="button" value="查看数据" onclick="showData()">
                    </td>
                    <td>
                        <input type="button" value="全部删除" onclick="doDel('all')">
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="newBig" class="big" v-show="othersHide.new">
            <div id="newMain" class="main">
                <div id="newWenName" class="wenName">
                    <p>{{newwenjuan[0].name}}</p>
                    <input type="text" v-model="newwenjuan[0].name">
                </div>
                <hr height="3" color="#bbb">
                <div id="newWenBody" class="wenBody">
                    <div id="newWenQs" v-html="newWenQs" class="qsList"></div>
                    <div id="newWenNewQs" class="newQs">
                        <div id="new_newQsButton" class="qsButton">
                            ＋ 添加问题
                        </div>
                        <div>
                            <input type="button" value="+ 单选题" onclick="newQs('radio')">
                            <input type="button" value="+ 多选题" onclick="newQs('check')">
                            <input type="button" value="+ 简答题" onclick="newQs('text')">
                        </div>
                    </div>
                </div>
                <div class="during">
                    <span class="left">问卷的<b>发布</b>时间：</span>
                    <input class="left" type="datetime-local" v-model="newwenjuan[0].startTime" @change="checkDuring()">
                    <label for="new_startQuick">快捷设置：</label>
                    <select id="new_startQuick" @change="newDuring($event.target.value,'startTime')" v-html="quicksetOption"></select>
                </div>
                <div class="during">
                    <span class="left">问卷的<b>截止</b>时间：</span>
                    <input class="left" type="datetime-local" v-model="newwenjuan[0].deadline" @change="checkDuring()">
                    <label for="new_deadQuick">快捷设置：</label>
                    <select id="new_deadQuick" @change="newDuring($event.target.value,'deadline')" v-html="quicksetOption"></select>
                </div>
                <div id="newWenOut" class="wenOut">
                    <input type="button" value="保存" @click="saveOut('stay')">
                    <input type="button" value="保存并退出" @click="saveOut()">
                    <input type="button" value="直接退出" @click="noSaveOut">
                </div>
            </div>
        </div>
        <div id="editBig" class="big" v-show="othersHide.edit">
            <div id="editMain" class="main">
                <div id="editWenName" class="wenName">
                    <p>{{editwenjuan[0].name}}</p>
                    <input type="text" v-model="editwenjuan[0].name">
                </div>
                <hr height="3" color="#bbb">
                <div id="editWenBody" class="wenBody">
                    <div id="editWenQs" v-html="newWenQs" class="qsList"></div>
                    <div id="editWenNewQs" class="newQs">
                        <div id="edit_newQsButton" class="qsButton">
                            ＋ 添加问题
                        </div>
                        <div>
                            <input type="button" value="+ 单选题" onclick="newQs('radio')">
                            <input type="button" value="+ 多选题" onclick="newQs('check')">
                            <input type="button" value="+ 简答题" onclick="newQs('text')">
                        </div>
                    </div>
                </div>
                <div class="during">
                    <span class="left">问卷的<b>发布</b>时间：</span>
                    <input class="left" type="datetime-local" v-model="editwenjuan[0].startTime" @change="checkDuring()">
                    <label for="edit_startQuick">快捷设置：</label>
                    <select id="edit_startQuick" @change="newDuring($event.target.value,'startTime')" v-html="quicksetOption"></select>
                </div>
                <div class="during">
                    <span class="left">问卷的<b>截止</b>时间：</span>
                    <input class="left" type="datetime-local" v-model="editwenjuan[0].deadline" @change="checkDuring()">
                    <label for="edit_deadQuick">快捷设置：</label>
                    <select id="edit_deadQuick" @change="newDuring($event.target.value,'deadline')" v-html="quicksetOption"></select>
                </div>
                <div id="editWenOut" class="wenOut">
                    <input type="button" value="保存" @click="saveOut('stay')">
                    <input type="button" value="保存并退出" @click="saveOut()">
                    <input type="button" value="直接退出" @click="noSaveOut()">
                </div>
            </div>
        </div>
        <div id="showBig" class="big" v-show="othersHide.show">
            <div id="showMain" class="main">
                <div id="showWenName" class="wenName">
                    <p></p>
                </div>
                <hr height="3" color="#bbb">
                <div id="showWenBody" class="wenBody">

                </div>
                <div class="during" id="durStart">
                    <span>问卷的发布时间：</span>
                    <b></b>
                </div>
                <div class="during" id="durEnd">
                    <span>问卷的截止时间：</span>
                    <b></b>
                </div>
                <div id="showWenOut" class="wenOut">
                    <input type="button" value="回到主界面" onclick="returnMyWen()">
                </div>
            </div>
        </div>
    </div>
    <div id="float" v-show="floatShow">
        <div id="floatWindow" :class="{bigger:biggerFloat}">
            <div id="alertHead">
                提示
                <span @click="floatClose">×</span>
            </div>
            <div id="alertContent" v-html="alertContent"></div>
            <div id="floatButton" v-html="floatButton"></div>
        </div>
    </div>
</div>
</body>
<!--工具函数,与dom无关-->
<script>
    //日期-日期比较，输入1012-12-33 12:11这种数据，返回x是否比y大的Boolean
    function compareDate(x,y) {
        if(typeof x == "string"){
            x = new Date(x.replace(/-/g,"\/"));
        }
        if(typeof y == "string"){
            y = new Date(y.replace(/-/g,"\/"));
        }
        return x > y;
    }
    //转换type为文字
    function transformType(type) {
        switch(type){
            case 'radio': return '单选'
            case 'checkbox': return '多选'
            case 'text' : return '问答'
        }
    }
</script>
<!--功能函数，可以全部转成Vue-->
<script>
    //删除问卷
    //删除问卷-确认
    function doDel(x) {
        if(x=='all'){
            vm.floatWindow('delAll','delAll');
        }else if(x=='this' && vm.checkChecked()) {//如果是删除单个，且有选中，弹出删除一个的提示框
            vm.floatWindow('delOne','delThis');
        }
    }
    //删除问卷-删除一个
    function delOneWen() {
        vm.wenjuan.splice(vm.selectWenIndex,1);
        vm.floatClose();
    }
    //删除问卷-删除所有
    function delAllWen() {
        vm.wenjuan = [];
    }

    //点击我的问卷标签
    function titleClick() {
        if($('#showBig').css('display') == 'block'){//如果是从查看页面退出，则直接回到主界面
            returnMyWen();
        }else{//相当于点击本页的 不保存退出 键
            $('#'+vm.whichShow+'WenOut input:last').click();
        }
    }
    //回到我的问卷主界面
    function returnMyWen() {
        vm.floatShow = false;
        $('#mainTable').show();
        $('#content .big').hide();
        $('#header .checked').removeClass('checked')
        $('#myWen').addClass('checked');
        vm.whichShow = 'main';
    }
//查看问卷数据
    function showData() {
        if(vm.checkChecked()){
            if(vm.timeAndState.wenjuan[vm.selectWenIndex].state[0] != '待发布'){
                $('#mainTable').hide();
                $('#showBig').show();
                $('#header .checked').removeClass('checked')
                $('#showWenTag').addClass('checked')
                vm.whichShow = 'show';
                drawCharts();
            }else{
                vm.floatWindow('alert','cantShow')
            }
        }
    }
    //添加选项--数据更新到vm
    function getNewOption() {
        vm[vm.whichShow+'wenjuan'][0].question[vm.editWhichQs].options.push(
            $('#alertContent').find('input').val()
        );
        vm.floatClose();
    }
    //调整题目顺序，新建和修改都用到这个func
    function moveArray(qs,turn,step) {
        //原理是两个位置的对象重新赋值为对方
        //Qs参数让函数能找到，这是哪道题；turn是移动方向，step是移动几步
        //涉及对象的拷贝，可以使用let name = Object.assign({},obj)，es6可以let {...name} = obj;
        //事实上上面两种拷贝，只能对首层深度拷贝，嵌套的json效果不好
        //深拷贝最靠谱的还是JSON.parse(JSON.stringify())，但也有缺陷，详见https://segmentfault.com/a/1190000010661297
        //涉及vue对数组变化的监控缺陷，详见文档的中部 https://cn.vuejs.org/v2/guide/list.html#ad
        let another;
        let type = qs.type;
        let wenIndex = qs.wenIndex
        let qsIndex = qs.qsIndex;
        let thisone = JSON.parse(JSON.stringify(vm[type][wenIndex].question[qsIndex]));
        if (turn == 'up'){
            another = JSON.parse(JSON.stringify(vm[type][wenIndex].question[qsIndex-step]));
            vm[type][wenIndex].question.splice(qsIndex-step,1,thisone)
        }else if(turn == 'down'){
            another = JSON.parse(JSON.stringify(vm[type][wenIndex].question[qsIndex+step]));
            vm[type][wenIndex].question.splice(qsIndex+step,1,thisone)
        }
        vm[type][wenIndex].question.splice(qsIndex,1,another)
    }
    //添加题目-按钮事件-添加不同类型的题目
    function newQs(type) {
        switch(type){
            case 'radio':
                vm.biggerFloat = true;
                vm.floatWindow('newRadio','inputTwo')
                break;
            case 'check':
                vm.biggerFloat = true;
                vm.floatWindow('newCheck','inputTwo')
                break;
            case 'text':
                vm.floatWindow('newText','newTextType')
                break;
        }
    }
    //添加题目-同步新的题目数据
    function getNewQs(x) {
        if(x=='radio' || x=='checkbox'){
            let text = $("#alertContent #inputTwo1").val() ;
            if(text){
                let option = $("#alertContent #inputTwo2").val();
                if (option.length != 0){
                    option = option.split(';');
                }else{
                    option = [];
                }
                vm[vm.whichShow+'wenjuan'][0].question.push({
                    type:x,
                    text:text,
                    options:option,
                    required:true,
                    data:[]
                })
                vm.floatClose();
            }else{alert('必须输入题干内容')}
        }else if(x == 'text'){
            let text = $("#alertContent input").val();
            if(text){
                vm[vm.whichShow+'wenjuan'][0].question.push({
                    type:x,
                    text:text,
                    options:[],
                    required:true,
                    data:[]
                })
                vm.floatClose();
            }else{alert('必须输入题干内容')}
        }
    }
    //编辑题干--更新数据
    function stemsEdit() {
        vm[vm.whichShow+'wenjuan'][0].question[vm.editWhichQs].text = $('#float #alertContent input').val();
        vm.floatClose();
    }
</script>
<script src="vm_vue.js" type="text/javascript"></script>
<script src="show_echarts.js" type="text/javascript"></script>
<!--事件绑定的代码，暂时不知怎么转到Vue-->
<script>
// 选择问卷
    $('#content').on('click','tbody tr',function () {
        var id = $(this).attr('id');
        if(id != 'last'){
            $('#content tbody').find('.selected').removeClass('selected')
            $(this).addClass('selected').find('input[type=radio]').prop('checked','true')
        }
    })

//编辑问卷
    //切换动画
    //新建问卷-标题编辑动画
    $('.big .wenName').click(function (e) {
        e.stopPropagation();
        let which = $(this).parent().attr('id');
        if(which != 'showMain'){
            $(this).parent().find('.qsButton').slideDown(200);
            if( ! vm.wenNameEditing){
                $(this).find('p').fadeOut(200,function () {
                    $(this).next().focus();
                });
            }
            vm.wenNameEditing = true;
            vm.qsTypeEditing = false;
        }
    })
    //新建问卷-选择题目类型动画
    $('.big .qsButton').click(function (e) {
        e.stopPropagation();
        $(this).parents('.main').find('.wenName p').fadeIn(200);
        if( ! vm.qsTypeEditing){
            $(this).slideUp(200);
        }
        vm.wenNameEditing = false;
        vm.qsTypeEditing = true;
    })
    //恢复标题编辑，选择题目类型动画
    $(document).click(function () {
        if(vm.whichShow == 'new'){
            $('#newWenName').find('p').fadeIn(200);
            $('#new_newQsButton').slideDown(200);
        }else if(vm.whichShow == 'edit'){
            $('#editWenName').find('p').fadeIn(200);
            $('#edit_newQsButton').slideDown(200);
        }
        vm.wenNameEditing = false;
        vm.qsTypeEditing = false;
    })
    //选项删除
    $('#content .qsList').on('click','.wenQs li>span',function () {
        //这里，因为元素是动态的，必须用on绑定到父级元素，用选择器找到子元素。
        //实测绑定到爷爷辈才生效，诡异
        let optionIndex = $(this).parent().index() - 1;
        let qsIndex = $(this).parents('.wenQs').index();
        //console.log('删除选项'+optionIndex,qsIndex)
        vm[vm.whichShow+'wenjuan'][0].question[qsIndex].options.splice(optionIndex,1)
        if(vm[vm.whichShow+'wenjuan'][0].question[qsIndex].options == 0){
            vm.floatWindow('alert','noOptionQs');
        }
    })
    //是否为必选
    $('#content .qsList').on('click','.qsFunc input',function () {
        let qsIndex = $(this).parents('.wenQs').index();
        vm[vm.whichShow+'wenjuan'][0].question[qsIndex].required = $(this).prop('checked');
    })
    //选项添加
    $('#content .qsList').on('click','.qsFunc .newOption',function () {
        vm.editWhichQs = $(this).parents('.wenQs').index();
        vm.floatWindow('newOption','inputOne');
    })
    //添加选项-监听回车键，其他功能也用到这个监听
    $('#floatWindow').on('keydown','#alertContent input',function (e) {
        if(e.keyCode == 13){
            $(this).parents('#floatWindow').find('.windowB input:first-child').click();
        }
    })
    //调整题目顺序-向上，绑定事件
    $('#content .wenBody').on('click','.qsFunc .upThis',function () {
        //即使是on绑定的事件，其获取的对象也是最终选择到的对象，而不是.WenBody
        moveArray({
            type:vm.whichShow+'wenjuan',
            wenIndex : 0,//新建页面中只有一个问卷,怎么都是0，但如果type是'wenjuan'就不一样了
            qsIndex:$(this).parents('.wenQs').index()
        },'up',1)
    })
    //调整题目顺序-向上，绑定事件
    $('#content .wenBody').on('click','.qsFunc .downThis',function () {
        moveArray({
            type:vm.whichShow+'wenjuan',
            wenIndex : 0,//如果是新建或者编辑页面，这个值永远是0，但如果type是'wenjuan'就不一样了
            qsIndex:$(this).parents('.wenQs').index()
        },'down',1)
    })
    //复用，绑定事件
    $('#content .qsList').on('click','.qsFunc .reuseThis',function () {
        let qsIndex = $(this).parents('.wenQs').index();
        let content = JSON.parse(JSON.stringify(vm[vm.whichShow+'wenjuan'][0].question[qsIndex]));
        vm[vm.whichShow+'wenjuan'][0].question.push(content)
    })
    //删除，绑定事件
    $('#content .qsList').on('click','.qsFunc .delThis',function (e) {
        let qsIndex = $(this).parents('.wenQs').index();
        vm[vm.whichShow+'wenjuan'][0].question.splice(qsIndex,1);
        if(vm[vm.whichShow+'wenjuan'][0].question.length == 0){
            e.stopPropagation()
            $(this).parents('.main').find('.qsButton').click();
        }
    })
    //编辑题干
    //绑定事件
    $('#content .wenBody').on('click','li img',function () {
        vm.editWhichQs = $(this).parents('.wenQs').index();
        vm.floatWindow('editStems','editStems');
        setTimeout(function () {
            $('#float #alertContent input').val(vm[vm.whichShow+'wenjuan'][0].question[vm.editWhichQs].text)
        },1)
    })
</script>
</html>