/*头部内容*/
#header{
    background-color: #ee7419;
    height: 50px;width: 100%;
    position: fixed;
    padding-left: 100px;
    z-index: 100;
}
#header span{
    display: inline-block;
    font: bold 22px/26px '微软雅黑';
    color: #fff;
}
#header>span{
    float: left;
    margin-top: 10px;
}
#header #title{
    margin-right: 70px;
    margin-top: 13px;
}
#header #circle{
    margin-top: 13px;
    margin-right: 8px;
    width: 26px;
    border-radius: 50%;
    background-color: #fff;
    color: #ee7419;
    text-align: center;
}
#header .tag{
    font-weight: normal;
    font-size: 17px;
    margin-left: 10px;
    border-radius: 10px 10px 0 0 ;
    height: 35px;width: 100px;
    text-align: center;
    padding-top: 5px;
}
#header .tag:hover{
    background-color: white;
    color: #ee7419;
    cursor: pointer;
}
#header .checked{
    display: block!important;
    color: #ee7419;
    background-color: #fcf0e5;
}
#header #newWenTag,#header #editWenTag,#header #showWenTag{display: none}


/*主要内容*/
html,body,#container{height: 100%}
body{margin: 0;padding: 0;}
#content{
    min-height: 100%;width: 100%;
    text-align: center;
    background-color: #ddd;
    z-index: -1;
}
#blank{height: 100px}
#content table{
    background-color: white;
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
    width: 820px;
    border-collapse: collapse;
    /*这一句必须有，否则tr的边框显示无效*/
}
#content table tr{
    height: 40px;
}
#content tbody tr{
    border-bottom: 2px solid #ddd;
}
#content tbody tr:not(#last):hover{
    background-color: #fcf0e5;
}
#content table thead{
    background-color: #eee;
}
#content tbody{
    font-size: 15px;
    border-left: 40px solid #fff;
    border-right: 40px solid #fff;
}
#content .col1{width: 40px;text-align: center;}
#content .col2{width: 400px;}
#content .col3{width: 250px;}
#content .col4{width: 80px;}
#content .col5{width: 200px;}
input[type='button']{
    background-color: #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type='button']:hover{
    color: #fff;
    background-color: #ee7419;
}
#content .ing{
    color: #00e600;
}
#content #last{
    height: 50px;
    border: none;
}
#last td:first-child{
    position: relative;
}
#content #newWen{
    display: inline-block;
    position: absolute;
    left: 250px;top: 13px;
    color: #fff;
    width: 100px;height: 24px;
    background-color: #ee7419;
    line-height: 20px;
}
#content tbody .selected{
    background-color: #fcf0e5;
}
#content .big{
    background-color: white;
    margin: 0 auto;
    width: 820px;min-height: 400px;
    position: relative;
}



  /*新建问卷*/
#content .main{
      padding: 10px;
  }
#content .wenName{
    padding: 5px 40px 0 40px;
    margin-bottom: 10px;
    height: 55px;
    overflow: hidden;
}
#content .wenName>*{
    margin: 0 0 5px 0;
    height: 55px;
    font: bold 20px/50px '微软雅黑';
    text-align: center;
    border: 1px solid #fff;
}
#content .wenName p{
    cursor: pointer;
}
#content .wenName>*:hover{
    background-color: #fcf0e5;
}
#content .wenName input{
    outline: none;
    border-radius: 8px;
    border-color: #aaa;
    height: 48px;
    padding: 0;
    display: block;
    width: 100%;
}
#content .wenName input{
    box-shadow: 0 0 3px 1px rgba(48, 174, 255, 0.8);
}
#content .wenBody{
    padding: 15px 40px;
}
#content .wenBody ul{
    margin: 0;
    list-style: none;
    text-align: left;
}
.wenQs{
    padding-top: 10px;
}
.wenQs:hover{
    background-color: #fcf0e5;
}
#content .wenBody li>span{
    display: none;
    cursor: pointer;
    font-weight: bold;
    color: #aaa;
    margin-left: 20px;
}
#content .wenBody ul>textarea{
    margin-left: 35px;
    width: 600px;
}
#content .wenBody li:hover{
    background-color: #eee;
}
#content .wenBody li:hover>span{
    display: inline-block;
}
#content .wenBody li:hover>span:hover{
    color: #000;
}
#content .wenBody li{
    line-height: 25px;
    font-size: 16px;
    margin-left: 32px;
}
#content .wenBody li img{
    float: right;
    border-top: 2px solid transparent;
    margin-right:10px;
    opacity: 0.2;
    cursor: pointer;
}
#content .wenBody li img:hover{
    opacity: 1;
}
#content .wenBody li:first-child{
    font-size: 18px;
    margin: 0;
}

.wenQs:hover .qsFunc{
    display: block;
}
.wenQs .qsFunc{
    height: 35px;
    display: none;
}
#content .qsList .qsFunc span{
    display: inline-block;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    color: #aaa;
}
#content .qsList .qsFunc span:hover{
    color: #000;
}
#content .qsList .qsFunc span:first-child{
    color: rgba(255,0,0,0.46)
}
#content .qsList .qsFunc span:first-child:hover{
    color: rgba(255,0,0,0.9)
}
#content .qsList .qsFunc .newOption{
    float: left;
    border: 2px dotted  transparent;
    text-align: center;
    width: 300px;
    margin-left: 78px;
}
#content .qsList .qsFunc .newOption:hover{
    border: 2px dotted  #aaa;
}
.newQs{
    height: 50px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #eee;
    color: #ccc;
    overflow: hidden;
}
.newQs:hover{
    color: black;
}
.newQs>div{
    height: 50px;
    line-height: 50px;
}
.wenOut{
    margin: 30px 55px 0 55px;
    height: 50px;
}
.wenOut input[type='button']{
    font-size: 18px;
    margin-right: 20px;
    float: right;
}
.during{
    margin: 20px 50px;
    height: 20px;
}
.during .left{
    float: left;
    margin-left: 10px;
}
.during select{
    height: 22px;
    text-align: center;
}



/*显示问卷数据*/
#showWenBody .showQsText{
      text-align: left;
  }
#showBig #showWenName p:hover{
    background-color: transparent;
}
#showBig #showWenName p{
    cursor: auto;
}



/*浮动框*/
#float{
    background-color: rgba(0,0,0,0.3);
    height: 100%;width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
  }
#float #floatWindow{
    position: absolute;
    top: 40%;left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;height: 150px;
    background-color: #fff;
}
#float #floatWindow.bigger{
    height: 210px;
}
#float #floatWindow.bigger #alertContent{
    height: 90px;
}
#float #alertHead{
    font-weight: bold;
    height: 35px;
    line-height: 33px;
    background-color: #eaeaea;
    padding: 0 20px;
}
#float #alertHead span{
    float: right;
    font-size: 32px;
    cursor: pointer;
    color: #aaa;
}
#float #alertHead span:hover{
    color: #000;
}
#float #alertContent{
    height: 30px;
    padding: 20px;
}
#float #alertContent input{
    width: 250px;
}
#float .windowB{
    padding: 10px;
    text-align: center;
}
#float .windowB input{
    font-size: 16px;
}
#float .windowB input:first-child{
    background-color:#f07600;
    color: white
}
